@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  background-image: linear-gradient(
      103.24deg,
      rgba(0, 8, 29, 0.9) 23.83%,
      rgba(0, 8, 29, 0.3) 96.1%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/24f9b77f-aca8-474d-9b08-62c65b7df974/LB-en-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
